@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
}
.parent{
    width: 38vw;
    height: 100vh;
    background-color:#202124;
    display: flex;
    flex-wrap: wrap;
}
.child{
    width:17vw;
    height: 31vh;
    background-color: #3c4043;
    border-radius: .8rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profile{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.mic{
    height: 20px;
    width: 20px;
}
.name{
    position: absolute;
    top: 26vh;
    margin-left: 2vw;
    width: 100%;
}
.child p{
    color: white;
    font-family: "roboto",sans-serif;
    letter-spacing: .4px;
}